<%- include("partials/header"); -%>
<h1>Home</h1>
<p><%= firstParagraph %></p>





<% postContent.forEach(function(post){%>

<div class="block">


  <h1><%= post.title %></h1>
  <p class="content"><%= post.content.substring(0,100) + "..." %></p>
  <a href="posts/<%= post._id %>" class="readmore">Read more</a>
  <form class="" action="/delete" method="post">
    <button class="btn btn-sml btn-danger" type="submit" value="<%= post._id %>" name="delete">Delete</button>

  </form>
</div>
<%});%>




















<%- include("partials/footer"); -%>
